<div class="row">
    <div class="col-sm-7">
        <h3>Contacts</h3>

        <form ng-submit="search()" >
            <div class="input-group">
                <div class="input-group-btn">
                    <button ng-click="search()" class="active btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </div>
                <input type="text" ng-model="srchterm" class="form-control" placeholder="Search " name="srchterm" id="srchterm">

                <div class="input-group-btn">
                    <button class="btn btn-success " ui-sref="reachout.contactForm">
                        Add Contact
                    </button>
                </div>
            </div>
        </form>
        <div class="panel panel-default">
            <table class="table table-hover table-striped" arrow-selector>
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Title</th>
                    <!-- <th></th> -->
                </tr>
                <tr class=""  key-down="keyDownEvent($event)" ng-dblclick="update(item.id)" ng-click="displayItem(item.id,$index)"  id="{{item.id}}" ng-repeat="item in modelList.rows">
                    <td>{{item.firstName}} {{item.lastName}}</td>
                    <td>{{item.company.name}}</td>
                    <td>{{item.jobTitle}}</td>
                    <!-- <td><i class="fa fa-remove" ng-click="removeUser(item.id)"></i></td> -->
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-5">
        <br>
        <div  ng-include="'components/contact/contactDetail.html'"></div>
    </div>
</div>