<div class="row" ng-show="modelData">
    <div class="col-sm-12">
        <br>
        <div class="media">
            <div class="media-left">
                <a ng-click="update(modelData.id)">
                    <img ng-show="imageSrc" style="width:125px" alt="Alt Image" class="media-object img-thumbnail" src="{{imageSrc}}">
                    <img ng-hide="imageSrc" style="width:125px" alt="Alt Image" class="media-object img-thumbnail" src="img/no_pic.jpg">
                </a>
                <br>
                <ul style="padding-left:15px" class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa  fa-2x fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa  fa-2x fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="media-body">
                <address>
                    <h3><span class="navy">{{modelData.firstName}} {{modelData.lastName}}</span></h3>
                    <h4><span class="navy">{{modelData.company.name}}</span></h4>
                    <h5><span class="navy">{{modelData.jobTitle}}</span></h5>
                    {{modelData.company.contactInfo.shipping.address}}<br/>
                    {{modelData.company.contactInfo.shipping.city}} , {{modelData.company.contactInfo.shipping.state}}
                    {{modelData.company.contactInfo.shipping.zip}}<br/>
                    <abbr title="Phone">P:</abbr> {{phones[0].phone}}
                </address>
            </div>
        </div>
    </div>
    <div ng-hide="true">
        <div>status : {{modelData.status}}</div>
        <div>createdAt : {{modelData.createdAt}}</div>
        <div>modifiedAt : {{modelData.modifiedAt}}</div>
        <div class="col-sm-12">address :
            <ng-Prism class='language-javascript'>{{modelData.address | json}}</ng-Prism>
        </div>
        <div class="col-sm-12">company :
            <ng-Prism class='language-javascript'>{{modelData.company | json}}</ng-Prism>
        </div>
        <div class="col-sm-12">contactInfo :
            <ng-Prism class='language-javascript'>{{modelData.contactInfo | json}}</ng-Prism>
        </div>
    </div>
</div>
</div>